body {
    max-width: 600px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px auto;
    padding: 10px;
    border-radius: 11px;
    background: linear-gradient(135deg, #fdfaf6, #fdebd0);
    border: 2px solid #d4a96a;
}

h1 {
    text-align: center;
    margin: 10px;
    border-bottom: 2px solid #d4a96a;
}

ul:has(a) {
  max-width: 400px;
  margin: 0 auto;
  list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
    display: inline-block;
}

a:hover {
    color: #c98622;
    transform: scale(1.1);
}

.return {
    display: inline-block;
    border: 2px solid #d4a96a;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: transparent;
    color: black;
    text-decoration: none;
}

.return:hover {
    background-color: #d4a96a;
    color: white;
}

img {
    width: 80%;
}

.description, .ingredients, .steps {
    margin: 10px auto;
    padding: 10px;
    border-radius: 11px;
    background: linear-gradient(135deg, #fdfaf6, #fdebd0);
    border: 2px solid #d4a96a;
}

h2 {
    text-align: left;
    margin: 10px;
    border-bottom: 2px solid #d4a96a;
}

figure {
    text-align: center;
    margin: 0 auto;
}

figcaption {
    font-style: italic;
}

li {
    margin: 10px;
}